<%- include('../../compartido/cabezera', {usuario: datos.usuario}) %>

<div class="container">
    <br>
    <br>
    <br>
    <div class="card" style="width: 95%;">

        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

</div>

<%- include('../../compartido/footer') %>
